/* shared styles */
@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">);
/* nav styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f5f5;
    padding: 0px 100px;
    box-shadow:  rgba(0, 0, 0, 0.05);
    max-width: 1920px;
}
nav  ul{
    display: flex ;
}
nav  li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700; 
}
.nav-extra{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px;
    
    
    
}

/* Banner section styles */
.banner{
    margin: 0px 100px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.banner-title-1{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 0;
}
.banner-title-2{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    margin-top: 20px;
}
.banner-p{
    margin-top: 20px;
    color: #534C64;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}
.banner-img img{
width: 100%;
}
.banner-btn button{
    
    margin: 20px 10px;
    
}
.btn-primary{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 30px;
    border-radius: 48px;
    border: 0;
    color: #FFF;
}
/* section 2 styles */
.section-2{
    background: #f8f5f5;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.section-2-content{
    text-align: right;
}
.section-2-title{
    font-size: 48px; 
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pp{
    background: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-2-p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */    
}
.section-2-h4{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
    margin-bottom: 0;
}
.section-2-h2{
    margin-top: 0;
    color: #534C64;
    font-weight: 700;
    line-height: 45px;
}
/* section 3 online games styles */
.content-3{
    padding: 20px 100px;
}
.section-3-img{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 20px;
}
.section-3-img img{
    width: 100%;
    height: 400px;
}
.section-3-up{
    text-align: center;
}
/* section 4 styles */
.section-4{
    display: flex;
    padding: 30px 100px 0 100px;
    justify-content: center;
    align-items: center;
    background: #f8f5f5;
}
.section-4-content{
    text-align: center;
    padding: 50px;
    padding-top: 0;
}
.section-4-img{
    padding: 70px;
    
}
.section-4-img img{
    width: 100%;
}
.ten{
    border-radius: 8px;
    background: white;
    color: #FFF;
    width: 242px;
    position: relative;
    bottom: 150px;
    left: -100px;
    margin-bottom: 0;
}
/* section 5 */
.section-5{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 30px 100px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    
}
.section-5-content{
    
}
.section-5-img img{
    max-width: 700px;
    
}
.section-5-title{
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px; /* 125% */
}
.section-5-p{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.section-5-blockp{
    display: flex;
    gap: 10px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 200% */
}
.section-5-btn{
    
    font-size: 20px;
    border-radius: 48px;
    background: #FFF;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    color: #FF42A5;
}
/* icon section styles */
.section-icon{
    
    padding: 30px 100px;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    
}
.section-icon h4{
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;

}
.icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 211px;
    height: 50px;
    padding: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    
}
/* footer styles */
footer{
    background: #0B0223;
    padding: 20px 100px;
    color: #f8f5f5;
}
footer h3{
    padding-bottom: 10px;
    margin-bottom: 0;
}
.list li{
    display: flex;
    justify-content: center;
    gap: 30px;
    text-decoration: none;
}
.list{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0px;
}



/* responsive for mobile devices */
@media screen and (max-width: 576px) {
    nav, nav ul, .banner, .section-2, .section-4, .section-5{
        flex-direction: column;
    }
    .section-3-img{
        flex-direction: column;
    }
    nav li{
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }
    .section-2-content{
        text-align: center;
    }
    .section-2-img img{
        max-width: 100%;
    }
    .section-5 img{
        width: 100%;
    }
    .section-5-content{
        text-align: center;
    }
    .section-icon{
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 auto;   
    }
    .icon{
        height: 50px;
        width: 100px; 
    }
    .icon img{
        width: 50%;
    }
    footer{
        text-align: center;
    }
   

}